/* Apply variables to body where they are defined */
/* Light Mode Variables: Defined on root */
[data-theme='supabase'] {
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.0163 260.6713);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.0163 260.6713);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.0163 260.6713);
    --primary: oklch(0.4883 0.1601 146.6111);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.9702 0 0);
    --secondary-foreground: oklch(0.2046 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.5486 0 0);
    --accent: oklch(0.9702 0 0);
    --accent-foreground: oklch(0.2046 0 0);
    --destructive: oklch(0.583 0.2387 28.4765);
    --destructive-foreground: oklch(0.9702 0 0);
    --border: oklch(0.9219 0 0);
    --input: oklch(0.9219 0 0);
    --ring: oklch(0.709 0 0);
    --chart-1: oklch(0.5555 0 0);
    --chart-2: oklch(0.5555 0 0);
    --chart-3: oklch(0.5555 0 0);
    --chart-4: oklch(0.5555 0 0);
    --chart-5: oklch(0.5555 0 0);
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.1448 0 0);
    --sidebar-primary: oklch(0.2046 0 0);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9702 0 0);
    --sidebar-accent-foreground: oklch(0.2046 0 0);
    --sidebar-border: oklch(0.9219 0 0);
    --sidebar-ring: oklch(0.709 0 0);
    --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: var(--font-mono), ui-monospace, monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

[data-theme='supabase'].dark {
    --background: oklch(0.1822 0 0);
    --foreground: oklch(0.9288 0.0126 255.5078);
    --card: oklch(0.2046 0 0);
    --card-foreground: oklch(0.9288 0.0126 255.5078);
    --popover: oklch(0.2603 0 0);
    --popover-foreground: oklch(0.7348 0 0);
    --primary: oklch(0.4365 0.1044 156.7556);
    --primary-foreground: oklch(0.9213 0.0135 167.1556);
    --secondary: oklch(0.2603 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2393 0 0);
    --muted-foreground: oklch(0.7122 0 0);
    --accent: oklch(0.3132 0 0);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.3123 0.0852 29.7877);
    --destructive-foreground: oklch(0.9368 0.0045 34.3092);
    --border: oklch(0.2809 0 0);
    --input: oklch(0.2603 0 0);
    --ring: oklch(0.8003 0.1821 151.711);
    --chart-1: oklch(0.8003 0.1821 151.711);
    --chart-2: oklch(0.7137 0.1434 254.624);
    --chart-3: oklch(0.709 0.1592 293.5412);
    --chart-4: oklch(0.8369 0.1644 84.4286);
    --chart-5: oklch(0.7845 0.1325 181.912);
    --sidebar: oklch(0.1822 0 0);
    --sidebar-foreground: oklch(0.6301 0 0);
    --sidebar-primary: oklch(0.4365 0.1044 156.7556);
    --sidebar-primary-foreground: oklch(0.9213 0.0135 167.1556);
    --sidebar-accent: oklch(0.3132 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(0.2809 0 0);
    --sidebar-ring: oklch(0.8003 0.1821 151.711);
    --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: var(--font-mono), ui-monospace, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.17;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
        0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
        0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
        0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
        0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
        0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
    --tracking-normal: 0.025em;
    --spacing: 0.25rem;
}

[data-theme='supabase'] {
    @theme inline {
        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-card: var(--card);
        --color-card-foreground: var(--card-foreground);
        --color-popover: var(--popover);
        --color-popover-foreground: var(--popover-foreground);
        --color-primary: var(--primary);
        --color-primary-foreground: var(--primary-foreground);
        --color-secondary: var(--secondary);
        --color-secondary-foreground: var(--secondary-foreground);
        --color-muted: var(--muted);
        --color-muted-foreground: var(--muted-foreground);
        --color-accent: var(--accent);
        --color-accent-foreground: var(--accent-foreground);
        --color-destructive: var(--destructive);
        --color-destructive-foreground: var(--destructive-foreground);
        --color-border: var(--border);
        --color-input: var(--input);
        --color-ring: var(--ring);
        --color-chart-1: var(--chart-1);
        --color-chart-2: var(--chart-2);
        --color-chart-3: var(--chart-3);
        --color-chart-4: var(--chart-4);
        --color-chart-5: var(--chart-5);
        --color-sidebar: var(--sidebar);
        --color-sidebar-foreground: var(--sidebar-foreground);
        --color-sidebar-primary: var(--sidebar-primary);
        --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
        --color-sidebar-accent: var(--sidebar-accent);
        --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
        --color-sidebar-border: var(--sidebar-border);
        --color-sidebar-ring: var(--sidebar-ring);
        --font-sans: var(--font-sans);
        --font-mono: var(--font-mono);
        --font-serif: var(--font-serif);
        --radius-sm: calc(var(--radius) - 4px);
        --radius-md: calc(var(--radius) - 2px);
        --radius-lg: var(--radius);
        --radius-xl: calc(var(--radius) + 4px);
        --shadow-2xs: var(--shadow-2xs);
        --shadow-xs: var(--shadow-xs);
        --shadow-sm: var(--shadow-sm);
        --shadow: var(--shadow);
        --shadow-md: var(--shadow-md);
        --shadow-lg: var(--shadow-lg);
        --shadow-xl: var(--shadow-xl);
        --shadow-2xl: var(--shadow-2xl);
        --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
        --tracking-tight: calc(var(--tracking-normal) - 0.025em);
        --tracking-normal: var(--tracking-normal);
        --tracking-wide: calc(var(--tracking-normal) + 0.025em);
        --tracking-wider: calc(var(--tracking-normal) + 0.05em);
        --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    }
}